button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 45px;
	border-radius: 20%;
	cursor: pointer;
	border: 1px solid #000;
	box-shadow:
		5px 5px 7px rgba(0, 0, 0, 0.5),
		inset 2px 2px 2px rgba(0, 0, 0, 0.15),
		inset -3px -3px 2px rgba(0, 0, 0, 0.15);
	background: #1f83f2;
	font-weight: 600;
	color: #fff;
	transition: .3s;
	&:hover {
		background: transparent;
		border: 1px solid #fff;
		opacity: 0.5;
	}
}

.delete-case {
	position: absolute;
	right: -40px;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ff2c74;
	border: none;
	cursor: pointer;
	border-radius: 50%;
	box-shadow:
		5px 5px 7px rgba(0, 0, 0, 0.5),
		inset 2px 2px 5px rgba(255, 255, 255, 0.5),
		inset -3px -3px 2px rgba(0, 0, 0, 0.15);
}

.delete-case::before {
	content: '';
	position: absolute;
	width: 15px;
	height: 2px;
	background: #fff;
	transform: rotate(45deg);
}

.delete-case::after {
	content: '';
	position: absolute;
	width: 15px;
	height: 2px;
	background: #fff;
	transform: rotate(-45deg);
}