.add-todo {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	padding: 10px;
}

.todoInput {
	width: 100%;
	border: none;
	outline: none;
	padding: 15px 20px;
	border-radius: 30px;
	font-size: 1em;
	box-shadow:
		5px 5px 7px rgba(0, 0, 0, 0.25),
		inset 2px 2px 5px rgba(0, 0, 0, 0.5),
		inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}
